/*--------------------------------------*/
/*                                      */
/*         Created by DiLaSoft          */
/*                                      */
/*--------------------------------------*/

@import url(div.css);

.end {
	clear: both;
	height: 1px;
	margin: 0;
	padding: 0;
}
	
#divMain {
	position:absolute; 
	width:100%; 
	height:99%; 
	left: 0%;
	top: 0%;
	margin: 0px;
}

#headerAdmin {
	width:100%;
	height:35px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	line-height:normal;
	/* border-bottom:1px solid #765; */
}

#divClose {
	position:absolute; 
	top:5px; 
	right:80px; 
	width:20px; 
	height:20px;
}

.divMenu {
/*	border-bottom: solid 1px #765; */
	text-decoration : none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	padding: 3px;
}

#divDonnees {
	float:left;
	width:20%;
	top: 30px;
	left:20px;
	height:90%;
}

#divDetails {
	float:left;
	width:80%;
	top: 30px;
	height:90%;
}

.lien {
	text-decoration : none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

.texte-gris {
	text-decoration : none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

#divDonneesGroupe {
	float:left;
	left:20px;
	height:90%;
	overflow: auto;
}

#divDonneesDroits {
	float:left;
	left:20px;
	height:90%;
	overflow: auto;
}

.divPopupHeader {
	background-color:#F2F2D3; 
	border: solid 1px #765;
}

.divPopupData {
	background-color:#FFFFFF; 
	border-left: solid 1px #765;
	border-right: solid 1px #765;
	border-bottom: solid 1px #765;
	padding: 3px;
}

ul#tabnav {
    font: bold 11px verdana, arial, sans-serif;
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #765;
    margin: 0;
}

ul#tabnav li {
    float: left;
    height: 21px;
    background-color: #ccc;
    margin: 2px 2px 0 2px;
    border: 1px solid #765;
}

ul#tabnav li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

ul#tabnav li.active a {
    color: #000;
}

#tabnav a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
}

#tabnav a:hover {
    background: #fff;
}

.divAjout {
	float: left;
	background-color: #F2F2D3;
	font-size : 10pt;
	font-weight: bold;
	border: solid 1px #C7C799;
	text-align:center;
	width:200px; 
	margin:10px;
}

.MessageErreur {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FF0000;
}
.MessageSucces {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #00FF00;
}

.TRData {
	font-family: Verdana,Arial;
	font-size: 8pt;
	height:20px;
}

.TDMenu {
	font-family: Verdana,Arial;
	font-size: 8pt;
}

.DateMenu {
	font-family: Verdana,Arial;
	font-size: 6pt;
	float: right;
}

.AMenu {
	text-decoration : none;
}

.Titre {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-weight: bolder;
	background-color: #CCCCAA;	
}

.TableAjout {	
	background-color: #C7C799;
}

.TdAjout {	
	background-color: #F2F2D3;
	font-size : 10pt;
	font-weight: bold;
}
.LigneImpaire {
    background-color: #E3E3E3;
}

.LignePaire {
    background-color: #F0F0F0;
}
.LigneRepertoire {
	background-color: #D9D9BF;
	text-decoration : none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

.Tableau {	
	background-color: #FFFFFF;
}
.Colonne {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: bolder;	
	background-color: #D9D9BF;
}

.ColonneLien {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration : none;	
	font-size: 13px;
	font-weight: bolder;	
	background-color: #AAAAFF;
}

.IntituleTxt {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10pt;
}

.DataTxt {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

.Lien {
	text-decoration : none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

.IP {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	float: right;	
}
.menug {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	font-size : 10pt;
	font-weight: bold;
	text-decoration: none;
}
.menug:hover {
	color: #555555;
}
#msg_ko {
	background: #fcd4d4;
	padding: 13px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bolder;
	color: #ff0000;
	text-align: center
}
.lien_ko {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bolder;
	color: #ff0000;
}
#msg_ok {
	background: #d5f7be;
	padding: 13px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bolder;
	color: #319731;
	text-align: center
}
.lien_ok {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bolder;
	color: #319731;	
}
.pop_title { 
	border: 1px solid #6e1d0e; 
	color: #000000; 
	text-align: center;
	padding: 5px;
	font: 10pt Arial, Helvetica, sans-serif;
	cursor: move
}
.pop_close {
	float: right;
	margin-right: 40px;
	width: 16px;
	cursor: pointer;
}
